<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="filters">
    <div class="filter">
        <p>industry:</p>
        <select data-select-industry>
            <option>all</option>
            <% allIndustries.forEach((industry) => { %>
            <option><%= industry %></option>
            <% }); %>
        </select>
    </div>
    <div class="filter">
        <p>problem:</p>
        <select data-select-problem>
            <option>all</option>
            <% allProblems.forEach((problem) => { %>
            <option><%= problem %></option>
            <% }); %>
        </select>
    </div>
</div>
<div class="grid-container">
<% clients.forEach((client)=> { %>
    <% let problems = [] %>
    <% client.problems.forEach((problem) => { %>
        <% problems.push(problem.name) %>
    <% }); %>
        <% let clientProblems = problems.join() %>
        <% if (client.video !== undefined && client.book !== undefined) { %>
<article class="grid-item v-wide v-long" data-client-industry=<%= client.industry.name %> data-client-problems='<%= clientProblems %>'>
    <div class="client-container">
        <div class="client-logo" style="background-image: url(<%= client.logo %>)">
        </div>
        <div class="client-info">
            <h3><%= client.name %></h3>
            <p>industry: <%= client.industry.name %></p>
            <p>problems: <%= problems.join(' | ') %></p>
        </div>
        <div>
            <a href="#" class="cta-button">Request Demo</a>
        </div>
    </div>
</article>
    <% } else if (client.video !== undefined) { %>
        <article class="grid-item wide long" data-client-industry=<%= client.industry.name %> data-client-problems='<%= clientProblems %>'>
            <div class="client-container">
                <div class="client-logo" style="background-image: url(<%= client.logo %>)">
                </div>
                <div class="client-info">
                    <h3><%= client.name %></h3>
                    <p>industry: <%= client.industry.name %></p>
                    <p>problems: <%= problems.join(' | ') %></p>
                </div>
            </div>
        </article>
    <% } else { %>
        <article class="grid-item" data-client-industry=<%= client.industry.name %> data-client-problems='<%= clientProblems %>'>
            <div class="client-container">
                <div class="client-logo" style="background-image: url(<%= client.logo %>)">
                </div>
                <div class="client-info">
                    <h3><%= client.name %></h3>
                    <p>industry: <%= client.industry.name %></p>
                    <p>problems: <%= problems.join(' | ') %></p>
                </div>
            </div>
        </article>
<% } }); %>
</div>
<script type="text/javascript" src="/scripts/index.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
</body>
</html>
