<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="filters">
    <div class="filter">
        <select data-select-industry>
            <option value="" disabled selected hidden>Filter by industry</option>
            <% allIndustries.forEach((industry) => { %>
                <option data-industry-option='<%= industry %>'><%= industry %></option>
            <% }); %>
        </select>
    </div>
    <div class="filter">
        <select data-select-problem value="">
            <option value="" disabled selected hidden>Filter by problem</option>
            <% allProblems.forEach((problem) => { %>
            <option data-problem-option='<%= problem %>'><%= problem %></option>
            <% }); %>
        </select>
    </div>
    <div class="applied-filters">
        <% allIndustries.forEach((industry) => { %>
            <div class="applied-filter hidden" data-applied-industry-filter='<%= industry %>'><%= industry %><div class="remove-filter" data-remove-industry-filter='<%= industry %>'></div></div>
        <% }); %>
        <% allProblems.forEach((problem) => { %>
            <div class="applied-filter hidden" data-applied-problem-filter='<%= problem %>'><%= problem %><div class="remove-filter" data-remove-problem-filter='<%= problem %>'></div></div>
        <% }); %>
    </div>
</div>
<hr />
<div class="grid-container">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>

<% clients.forEach((client)=> { %>
    <% let problems = [] %>
    <% client.problems.forEach((problem) => { %>
        <% problems.push(problem) %>
    <% }); %>

        <% let clientProblems = problems.join() %>
        <% if (client.testimonial !== undefined || client.description !== undefined) { %>
<div class="grid-item wide" data-client-industry='<%= client.industry %>' data-client-problems='<%= clientProblems %>'>
    <% }else { %>
    <div class="grid-item" data-client-industry='<%= client.industry %>' data-client-problems='<%= clientProblems %>'>
    <% } %>
    <div class="client-container">
        <div class="client-left">
            <% if (client.logo !== undefined) { %>
                <div class="client-logo" style="background-image: url(<%= client.logo %>)">
                </div>
            <% } %>
                <h3><%= client.name %></h3>
                <p>🔧 <%= client.industry %></p>
                <p>❓ <%= clientProblems %></p>
        </div>
        <% if (client.description !== undefined || client.testimonial !== undefined) { %>
        <div class="client-right">
            <% if (client.description !== undefined) { %>
                <p><%= client.description %></p>
            <% } %>
            <% if (client.testimonial !== undefined) { %>
                    <p>"<%= client.testimonial %>" - <span class="testimonial-author">John Doe, Honest man</span></p>
            <% } %>
            <% if (client.case_study !== undefined) { %>
                <a href='<%= client.video %>' class="cta-button">Case Study</a>
            <% } %>
        </div>
        <% } %>
    </div>
</div>
    <% if (client.video !== undefined) { %>
            <div class="grid-item wide"  data-client-industry='<%= client.industry %>' data-client-problems='<%= clientProblems %>'>
                <h3><%= client.name %></h3>
                <div class="embed-video__video">
                    <div class="embed-video__video-inner">
                        <iframe width="90%" height="315" src="https://www.youtube.com/embed/cL3DaHZ88ZQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
    <% } %>
<% }); %>
</div>
<script type="text/javascript" src="/scripts/jquery.js"></script>
<script type="text/javascript" src="/scripts/isotope.js"></script>
<script type="text/javascript" src="/scripts/packery.js"></script>
<script type="text/javascript" src="/scripts/isotopePackery.js"></script>
<script type="text/javascript" src="/scripts/index.js"></script>
</body>
</html>
